@font-face {
    font-family: Exo-Black;
    src: url(../fonts/Exo-Black.ttf);
}
@font-face {
    font-family: Exo-BlackItalic;
    src: url(../fonts/Exo-BlackItalic.ttf);
}
@font-face {
    font-family: Exo-Bold;
    src: url(../fonts/Exo-Bold.ttf);
}
@font-face {
    font-family: Exo-BoldItalic;
    src: url(../fonts/Exo-BoldItalic.ttf);
}
@font-face {
    font-family: Exo-ExtraBold;
    src: url(../fonts/Exo-ExtraBold.ttf);
}
@font-face {
    font-family: Exo-ExtraBoldItalic;
    src: url(../fonts/Exo-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: Exo-ExtraLight;
    src: url(../fonts/Exo-ExtraLight.ttf);
}
@font-face {
    font-family: Exo-ExtraLightItalic;
    src: url(../fonts/Exo-ExtraLightItalic.ttf);
}
@font-face {
    font-family: Exo-Italic;
    src: url(../fonts/Exo-Italic.ttf);
}
@font-face {
    font-family: Exo-Light;
    src: url(../fonts/Exo-Light.ttf);
}
@font-face {
    font-family: Exo-LightItalic;
    src: url(../fonts/Exo-LightItalic.ttf);
}
@font-face {
    font-family: Exo-Medium;
    src: url(../fonts/Exo-Medium.ttf);
}
@font-face {
    font-family: Exo-MediumItalic;
    src: url(../fonts/Exo-MediumItalic.ttf);
}
@font-face {
    font-family: Exo-Regular;
    src: url(../fonts/Exo-Regular.ttf);
}
@font-face {
    font-family: Exo-SemiBold;
    src: url(../fonts/Exo-SemiBold.ttf);
}
@font-face {
    font-family: Exo-SemiBoldItalic;
    src: url(../fonts/Exo-SemiBoldItalic.ttf);
}@font-face {
    font-family: Exo-Thin;
    src: url(../fonts/Exo-Thin.ttf);
}@font-face {
    font-family: Exo-ThinItalic;
    src: url(../fonts/Exo-ThinItalic.ttf);
}

* {
    padding: 0px;
    margin: 0px;
}

img {
    width: 100%;
    height: 100%;
}


.heroBanner {
    background-image: url(../images/bgLine.png);
    height: 100vh;
}
.home-wrapper {
    padding-left: 80px;
}
.heroBanner h1.title {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    /* line-height: 109px; */
    color: #121212;
}
.heroBanner h1.title span {
    font-size: 40px;
}
p.desc {
    font-size: 22px;
} 
.button-wrap {
    background-image: url(../images/buttonbg.png);
    width: 140px;
    height:50px;
    background-position: center;
    border-top-right-radius: 8px;
    text-align: center;
    padding: 7px 0px 7px 0px;
    border-bottom-right-radius: 8px;
    color: white;
}
.banner-img{
    text-align: right;

}
.banner-img img{
    width: 450px;
}

.button-wrap a {
    text-decoration: none;
    font-size: 22px;
    color: white;
}

.why-hub-container {
    padding: 75px 0;
}

.text-wrap p {
    padding: 20px 140px
}

.video-sec {
    width: 700px;
    height: 400px;
    text-align: center;
    width: 100%;
}

.video-sec video {
    width: 700px;
    height: 350px;
    margin: 0 auto;
}

.Thought-text {
    padding: 88px;
}

section.about-wrap {
    
    padding: 50px 100px 80px 112px;

    background-color: #EFF4FF;
}

.goals {
    background-color: #EFF4FF;
    padding: 25px;
}

.goal {
    width: 50%;
    padding: 19px 20px;
}

section.activity {
    width: 85%;
    margin-top: 20px;
    position: relative;
    margin: -87px auto;
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    animation: marquee 5s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.c-logo {
    width: 100px;
    height: auto;
    padding: 20px;
    margin: 10px 60px;
}

.brands-wrap {
    margin-top: 100px;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 769px) {
    .home-wrapper {
        padding-left: 0;
    }
    .heroBanner h1.title {
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 700;
        font-size: 90.8665px;
        line-height: 109px;
        color: #fdfdfd;
    }
    .heroBanner h1.title span {
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 700;
        font-size: 90.8665px;
        line-height: 109px;
        color: #fdfdfd;
    }
    p.desc {
        font-size: 39px;
        padding: 6px 22px;
        color: #fdfdfd;
        justify-content: center;
    }   
    .button-wrap {
        background-image: url(../images/buttonbg.png);
        width: auto;
        height:96px;
        background-position: center;
        border-top-right-radius: 8px;
        text-align: center;
        padding: 15px 35px;
        border-bottom-right-radius: 8px;
        color: white;
    }
    .button-wrap a {
        font-size: 36px;
        text-decoration: none;
        color: white;
        font-weight: 600;
    }

    .banner-img{
        display: none;
    }
    .heroBanner{
        background-image: url(../images/bannerMobile.png);
        justify-content: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .text-wrapper{
        text-align: center;
        flex-wrap: wrap;
        padding: 30px;
        align-items: center;
        margin-top: 50%;
    }

    .Thought-text {
        display: none;
    }

    .video-sec video[poster] {
        height: 100%;
        width: 100%;
    }

    .goal {
        width: 50%;
        padding: 19px 20px;
    }

    section.activity {
        width: 100%;
        margin-top: 20px;
        position: static;
        margin: auto;
    }

    .brands-wrap {
        margin-top: 0px;
    }
    .navbar .nav-link {
        font-size: 30px;
        margin-left: 10px;
      }
      .fa-bars {
        color: #303AAE;
        font-size: 50px;
        display: inline-block;
      }
      .navbar-collapse {
        text-align: center;
      }
      .navbar-collapse.collapse ul {
        background-color: #fff;
        padding-bottom: 20px
      }

/* about */
      .about-wrap .row{
        flex-direction: column-reverse;
      }
      .text-wrapper .aboutdesc .notee{
        margin-left: 18vw;
        margin-right: 18vw;
        justify-content: center;
     }
}



/* Header */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 100%;
    box-sizing: inherit;
    scroll-behavior: smooth;
    height: -webkit-fill-available;
}

body {

    font-size: clamp(1rem, 2vw, 1.125rem);
    font-weight: 400;
    line-height: 1.5;
    height: -webkit-fill-available;
    
}

main {
    overflow: hidden;
}

a,
button {
    cursor: pointer;
    border: none;
    outline: none;
    user-select: none;
    background: none;
    box-shadow: none;
    text-decoration: none;
}

img,
video {
 
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.section {
    margin: 0 auto;
    padding: 6rem 0 1rem;
}

.container {
    max-width: 75rem;
    height: auto;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.centered {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 1rem;
}

.heading-xl {
    font-family: inherit;
    font-size: clamp(2.648rem, 6vw, 4.241rem);
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -1px;
}

.heading-lg {
    font-family: inherit;
    font-size: clamp(2.179rem, 5vw, 3.176rem);
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -1px;
}

.heading-md {
    font-family: inherit;
    font-size: clamp(1.794rem, 4vw, 2.379rem);
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -1px;
}

.heading-sm {
    font-family: inherit;
    font-size: clamp(1.476rem, 3vw, 1.782rem);
    font-weight: 600;
    line-height: 1.5;
}

.heading-xs {
    font-family: inherit;
    font-size: clamp(1.215rem, 2vw, 1.335rem);
    font-weight: 500;
    line-height: 1.5;
}

.paragraph {
    font-family: inherit;
    font-size: clamp(1rem, 2vw, 1.125rem);
    line-height: inherit;
    max-width: 95%;
    height: auto;
    text-transform: unset;
    color: var(--color-white-200);
}

.btn {
    display: inline-block;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    user-select: none;
    outline: none;
    border: none;
    border-radius: 0.25rem;
    text-transform: unset;
    transition: all 0.3s ease-in-out;
}

.btn-inline {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
}

.btn-darken {
    padding: 0.75rem 2rem;
    color: var(--color-white-100);
    background-color: var(--color-black-200);
    box-shadow: var(--shadow-medium);
}

.btn-neutral {
    padding: 0.75rem 2rem;
    color: var(--color-black-500);
    background-color: var(--color-white-100);
    box-shadow: var(--shadow-medium);
}

.header {

    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: auto;
    margin: 0 auto;
    transition: all 0.35s ease;
}

.header.on-scroll {
    background: var(--color-black-300);
    box-shadow: var(--shadow-medium);
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1.25rem;
    width: 100%;
    height: 120px;
    margin: 0 auto;
}

.brand {
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -1px;
    color: var(--color-white-100);
    text-transform: uppercase;
    width: 160px;
}


.menu {
    position: relative;
    top: 0;
    width: auto;
    height: auto;
    padding: 0rem;
    margin-left: auto;
    background: none;
    box-shadow: none;
}

.menu-inner {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    margin: 0 auto;
}

.nav-link {
    text-transform: capitalize;
}

.menu-block {
    margin-left: 2rem;
}
a.nav-link{
    color: #303AAE;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}
a.nav-link.active{ 
    color:#DB40CC;
}
.app__flex input {
    max-width: 515px;
    width: 100%;
    border: 2.87639px solid #E0DEDD;
    border-radius: 11.5056px;
    box-sizing: border-box;
    margin-bottom: 22px;
    padding: 12px 20px;
    font-size: 12px;
    line-height: 20px;
}
.subscribeBttn {
    border: 2.88px solid;
    border-image-slice: 1;
    max-width: 515px;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-image-source: linear-gradient(90.62deg, #AF3CB7 8.39%, #5D77CE 48.97%, #0038FD 99.95%);
}

  
/* About Fonts */

.text-wrapper .abouttitle{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    color: #121212;
}
.text-wrapper .aboutdesc {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}
.text-wrapper .aboutdesc .notee{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    font-size: 22px;
    justify-content: center;
 }

 /* why HUB */
 .why-hub-container .whyHubTitle{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    background-image: url(../images/textBackground.png);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;

 }
